# KiCad temporary and backup files
*.bck
*.bak
*_autosave-*
*.tmp
*-save.kicad_pcb
*.lck

# Operating System files
.DS_Store
Thumbs.db

# PlatformIO build outputs & libraries
Firmware/.pio/
Firmware/.vscode/

# KiCad backups & automatic history
Hardware/DIY_Mouse-backups/
Hardware/.history/

# Manufacturing & Gerber Outputs (Upload via GitHub Releases)
*.gbr
*.drl
*.gbl
*.gbs
*.gbo
*.gto
*.gts
*.gtl
*.gbrjob
*.zip
Hardware\production