# KiCad temporary, backup, and local display setting files
*.bck
*.bak
*_autosave-*
*.tmp
*-save.kicad_pcb
*.lck
*.kicad_prl

# Operating System files
.DS_Store
Thumbs.db

# PlatformIO build outputs & libraries
Firmware/.pio/
Firmware/.vscode/

# KiCad backups, history, & production outputs
Hardware/v2/DIY_Mouse-backups
Hardware/v2/.history
Hardware/v2/production

# Manufacturing & Gerber Outputs (Upload via GitHub Releases)
*.gbr
*.drl
*.gbl
*.gbs
*.gbo
*.gto
*.gts
*.gtl
*.gbrjob
*.zip